---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pagina Steam</title>
	</head>
	<body class="m-0 p-0 bg-[#1B2838]">
		<!-- etiquetas semanticas?? -->
		<!-- <slot />  -->
		<header class="h-[100px] bg-[#161d24]">
			<div class="container max-w-[1200px] mx-auto">
				<div
					class="ml-[17%] flex h-[80px] w-[55.5%] float-left items-center text-[#fff5f5] uppercase font-sans mt-3"
				>
					<img
						class="w-40"
						src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
						alt=""
					/>

					<menu>
						<li class="ml-[10px] inline-block">
							<a
								class="text-[16px] font-semibold text-[#fff5f5] hover:text-[blue]"
								href="">Tienda</a
							>
						</li>
						<li class="ml-[10px] inline-block">
							<a
								class="text-[16px] font-semibold text-[#fff5f5] hover:text-[blue]"
								href="">Comunidad</a
							>
						</li>
						<li class="ml-[10px] inline-block">
							<a
								class="text-[16px] font-semibold text-[#fff5f5] hover:text-[blue]"
								href="">Acerca de</a
							>
						</li>
						<li class="ml-[10px] inline-block">
							<a
								class="text-[16px] font-semibold text-[#fff5f5] hover:text-[blue]"
								href="">Soporte</a
							>
						</li>
					</menu>
				</div>
				<div
					class="float-left text-[#fff5f5] font-sans mt-1 items-center"
				>
					<a
						href="#####"
						class="btn-download text-[#fff5f5] text-[13px] bg-green-700 py-[2px] px-3 inline-flex hover:text-[white] hover:bg-green-900"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="size-4 m-1"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25"
							></path></svg
						>
						intalar Steam
					</a>
					<a class="text-[#fff5f5] mx-2 text-[13px]" href=""
						>Iniciar Sesion
					</a>
					<a class="text-[#fff5f5] mx-2 text-[13px]" href="">|</a>
					<a class="text-[#fff5f5] mx-2 text-[13px]" href="">Idioma</a
					>
				</div>
			</div>
		</header>

		<div
			class="h-[480px] flex bg-center bg-cover bg-no-repeat max-h-full object-cover bg-[url('https://i.ytimg.com/vi/to-CTTvvnV0/maxresdefault.jpg')] relative"
		>
			<div
				class="absolute mx-auto max-w-[1200px] mt-6 menups bg-[#0c426ed2] flex h-9 w-[990px] left-72 justify-between items-center font-sans list-none font-medium text-white text-[14px]"
			>
				<li><a class="pl-3" href="">Tu tienda</a></li>
				<li><a class="" href="">Nuevo y destacable</a></li>
				<li><a class="" href="">Categorias</a></li>
				<li><a class="" href="">Tienda de puntos</a></li>
				<li><a class="" href="">Noticas</a></li>
				<li><a class="" href="">Laboratorios</a></li>
				<input
					class="ml-10 mr-1 bg-[#232d63] text-[#161d24] h-6 rounded-md"
					type="text"
					placeholder="buscar"
				/>
				<button class="p-0">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-6"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
						></path>
					</svg>
				</button>
			</div>
		</div>
		<!-- TarjetasDeregalo -->
		<div
			class="float-left z-[1] left-[calc(((100%-1200px)/2)-180px)] w-[180px] h-[360px] ml-[7%] list-none"
		>
			<li class="mt-3 mb-4 hover:text-[white]">
				<img
					class="h-16"
					src="https://store.akamai.steamstatic.com/public/images//gift/steamcards_promo_03.png?v=1"
					alt=""
				/>

				<a href="">
					<h1
						class="text-[#5e79f5] text-[15px] uppercase font-sans font-medium"
					>
						Targetas regalo de Steam
					</h1>
					<h1
						class="text-[#5e79f5] text-[15px] uppercase font-sans font-medium"
					>
						Regala diversion
					</h1>
				</a>
			</li>
			<li class="mt-3 mb-4">
				<h1
					class="text-[#5e79f5] text-[15px] uppercase font-sans font-medium"
				>
					Vistos recientemente
				</h1>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>juego1</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>juego2</a
				>
			</li>
			<li class="mt-3 mb-4">
				<h1
					class="text-[#5e79f5] text-[15px] uppercase font-sans font-medium"
				>
					recomedados
				</h1>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>amigos</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>mentores</a
				>
			</li>
			<li class="mt-3 mb-4">
				<h1
					class="text-[#5e79f5] text-[15px] uppercase font-sans font-medium"
				>
					Explorar Categorias
				</h1>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>lo mas vendido</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>novedades</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>lo mas barato</a
				>
			</li>
			<li class="mt-3 mb-4">
				<h1
					class="text-[#5e79f5] text-[15px] uppercase font-sans font-medium"
				>
					explorar por generos
				</h1>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>free to play</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>accion</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>aventura</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>aventura</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>aventura</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>aventura</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>aventura</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>aventura</a
				>
				<a class="text-white flex hover:text-[blue] text-[13px]" href=""
					>aventura</a
				>
			</li>
		</div>
		<!-- Destacado y recomendado -->
		<div class="h-[480px] max-w-[1200px] mx-auto">
			<div
				class="ml-[20%] w-[80%] h-[450px] bg-gradient-to-b via-[#1B2838] from-[#1B2838] to-blue-950 via-80%"
			>
				<h1
					class="text-[15px] mb-1 ml-5 text-white mt-5 font-sans font-normal"
				>
					DESTACADOS Y RECOMENDADOS
				</h1>
				<div
					class="justify-center items-center relative overflow-x-hidden shadow-2xl shadow-gray-900"
				>
					<button
						class="absolute left-0 top-1/2 transform -translate-y-1/2 z-10"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-[60px] size-20 text-white cursor-pointer bg-gradient-to-r from-blue-950 via-blue-950 via-5%"
							id="btn-lef"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15.75 19.5 8.25 12l7.5-7.5"></path>
						</svg>
					</button>

					<button
						class="absolute right-0 top-1/2 transform -translate-y-1/2 z-10"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-[60px] size-20 text-white cursor-pointer bg-gradient-to-l from-blue-950 via-blue-950 via-5%"
							id="btn-aft"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
						</svg>
					</button>
					<div
						class="contenido flex list-none font-serifrelative w-[300%] animate-slider transition duration-500 "
						id="slider"
					>
						<section
							class="flex w-[calc(100%/3)]"
							id="sliderSection"
						>
							<div
								class="hover:cursor-pointer h-[360px] w-[60%] bg-[#fff5f5] bg-no-repeat bg-cover bg-[url('https://gaming-cdn.com/images/products/7678/orig/black-myth-wukong-pc-game-steam-europe-and-us-and-canada-cover.jpg?v=1724142714')] shadow-[3px_3px_8px_#00000066]"
							>
							</div>
							<div
								class="h-[360px] w-[40%] bg-gray-900 shadow-[3px_3px_8px_#00000066] hover:cursor-pointer"
							>
								<li
									class="mt-2 mb-2 text-[20px] ml-5 text-[#fff5f5]"
								>
									Black Myth: Wukong
								</li>
								<div class="flex flex-wrap">
									<img
										class="h-[80px] w-[180px] mb-2"
										src="https://i.pcmag.com/imagery/articles/03limhbAT0XKk6oWJuIJEXx-2.fit_lim.v1721332127.jpg"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2 ml-2"
										src="https://cdn2.unrealengine.com/gs-screenshot-015-3840x2160-53080145a0c4.jpg?resize=1&w=1920"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2"
										src="https://d1q3zw97enxzq2.cloudfront.net/images/black_myth_wukong_scr.width-1000.bgcolor-000.format-jpeg_yzXoNbG.jpg"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2 ml-2"
										src="https://sm.pcmag.com/t/pcmag_me/review/b/black-myth/black-myth-wukong_e8hc.1920.jpg"
										alt=""
									/>
								</div>
								<h1
									class="text-[20px] text-[#fff5f5] ml-5 my-0"
								>
									Ya disponible
								</h1>
								<h2
									class="text-[14px] h-5 w-28 bg-gray-400 text-center ml-5 rounded text-[#fff5f5]"
								>
									Lo mas vendido
								</h2>
								<h3
									class="ml-5 mb-3 text-[13px] text-[#fff5f5] mt-11 font-sans"
								>
									COL$ 199.000
								</h3>
							</div>
						</section>
						<section
							class="flex w-[calc(100%/3)]"
							id="sliderSection"
						>
							<div
								class="hover:cursor-pointer h-[360px] w-[60%] bg-[#fff5f5] bg-no-repeat bg-cover bg-[url('https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2933620/header.jpg?t=1729019912')] shadow-[3px_3px_8px_#00000066]"
							>
							</div>
							<div
								class="h-[360px] w-[40%] bg-gray-900 shadow-[3px_3px_8px_#00000066] hover:cursor-pointer"
							>
								<li
									class="mt-2 mb-2 text-[20px] ml-5 text-[#fff5f5]"
								>
								Call of Duty®: Black Ops 6
								</li>
								<div class="flex flex-wrap">
									<img
										class="h-[80px] w-[180px] mb-2"
										src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2933620/ss_fc8d4d4057bd8c4d519dc98bbee725907ab1b7d2.1920x1080.jpg?t=1729019912"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2 ml-2"
										src="https://cdn2.unrealengine.com/gs-screenshot-015-3840x2160-53080145a0c4.jpg?resize=1&w=1920"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2"
										src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2933620/ss_02e975ce63d961123d36c8bc03a04f5b9c862e5d.1920x1080.jpg?t=1729019912"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2 ml-2"
										src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2933620/ss_79d96d702d6656cfd8e34ddb6d457840ecf46bf5.1920x1080.jpg?t=1729019912"
										alt=""
									/>
								</div>
								<h1
									class="text-[20px] text-[#fff5f5] ml-5 my-0"
								>
									Ya disponible
								</h1>
								<h2
									class="text-[14px] h-5 w-28 bg-gray-400 text-center ml-5 rounded text-[#fff5f5]"
								>
									Lo mas vendido
								</h2>
								<h3
									class="ml-5 mb-3 text-[13px] text-[#fff5f5] mt-11 font-sans"
								>
									COL$ 199.000
								</h3>
							</div>
						</section>
						<section
							class="flex w-[calc(100%/3)]"
							id="sliderSection"
						>
							<div
								class="hover:cursor-pointer h-[360px] w-[60%] bg-[#fff5f5] bg-contain bg-[url('https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1790600/header.jpg?t=1728899148')] shadow-[3px_3px_8px_#00000066]"
							>
							</div>
							<div
								class="h-[360px] w-[40%] bg-gray-900 shadow-[3px_3px_8px_#00000066] hover:cursor-pointer"
							>
								<li
									class="mt-2 mb-2 text-[20px] ml-5 text-[#fff5f5]"
								>
								DRAGON BALL: Sparking! ZERO
								</li>
								<div class="flex flex-wrap">
									<img
										class="h-[80px] w-[180px] mb-2"
										src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1790600/ss_72cb10fb8f0c7554e932257450b19189534a846d.1920x1080.jpg?t=1728899148"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2 ml-2"
										src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1790600/ss_6389b6aef0ecaa3f6cc1e36dcfb145c6fcb70a75.1920x1080.jpg?t=1728899148"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2"
										src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1790600/ss_90f5785f89a9882a7f33fd5a812a7e7384720afd.1920x1080.jpg?t=1728899148"
										alt=""
									/>
									<img
										class="h-[80px] w-[180px] mb-2 ml-2"
										src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1790600/ss_f4ec953421c54bf74bdca77ceed361ad7b509858.1920x1080.jpg?t=1728899148"
										alt=""
									/>
								</div>
								<h1
									class="text-[20px] text-[#fff5f5] ml-5 my-0"
								>
									Ya disponible
								</h1>
								<h2
									class="text-[14px] h-5 w-28 bg-gray-400 text-center ml-5 rounded text-[#fff5f5]"
								>
									Lo mas nuevo
								</h2>
								<h3
									class="ml-5 mb-3 text-[13px] text-[#fff5f5] mt-11 font-sans"
								>
									COL$ 220.000
								</h3>
							</div>
						</section>
					</div>
				</div>
				<div class="flex justify-center items-center gap-1 mt-4">
					<div class="h-4 bg-gray-800 w-7 rounded"></div>
					<div class="h-4 bg-gray-800 w-7 rounded"></div>
					<div class="h-4 bg-gray-800 w-7 rounded"></div>
				</div>
			</div>
			
		</div>
		<script>
			// Seleccionar los elementos del DOM
			const btnlef = document.querySelector("#btn-lef");
			const btnaft = document.querySelector("#btn-aft");
			const slider = document.querySelector("#slider");

			// Número de sliders (en este caso son 3)
			const totalSlides = 3;

			// Ancho de cada slide (100% / número de sliders visibles a la vez)
			const slideWidth = 100 / totalSlides;

			// Índice actual del slider
			let currentSlide = 0;

			// Función para moverse hacia la derecha
			function moveToNextSlide() {
				currentSlide++;
				if (currentSlide >= totalSlides) {
					// Si llegamos al final, volvemos al primer slide
					currentSlide = 0;
				}
				slider.style.transform = `translateX(-${currentSlide * slideWidth}%)`;
				
			}

			// Función para moverse hacia la izquierda
			function moveToPreviousSlide() {
				currentSlide--;
				if (currentSlide < 0) {
					// Si estamos en el primer slide, vamos al último
					currentSlide = totalSlides - 1;
				}
				slider.style.transform = `translateX(-${currentSlide * slideWidth}%)`;
			}

			// Eventos de los botones
			btnlef.addEventListener("click", moveToPreviousSlide);
			btnaft.addEventListener("click", moveToNextSlide);
		</script>
		<!-- imgane ramdom -->
		<div class="baner3 container max-w-[1200px] mx-auto font-sans mt-2">
			<div class="contb1">
				<a href="">
					<img
						class="container h-[150px] w-[80%] flex ml-[20%] shadow-[3px_3px_8px_#00000066] hover:shadow-blue-400"
						src="https://shared.akamai.steamstatic.com/store_item_assets/steam/clusters/takeunder/67755ac165883e36b511f6ff/takeunder_desktop_spanish.jpg?t=1727285949"
						alt=""
					/>
				</a>
			</div>
		</div>
		<!-- ofertas especiales -->
		<div class="max-w-[1200px] mx-auto">
			<h1
				class="ml-[20%] mt-10 font-medium text-white text-[15px] uppercase mb-3"
			>
				ofertas especiales
			</h1>
			<div
				class="ofertas ml-[20%] w-[80%] flex h-[400px] justify-center items-center relative"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-[60px] size-20 text-white absolute -left-12 cursor-pointer bg-gradient-to-r from-blue-950 via-blue-950 via-5%"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M15.75 19.5 8.25 12l7.5-7.5"></path>
				</svg>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-[60px] size-20 my-auto text-white -right-12 absolute cursor-pointer bg-gradient-to-l from-blue-950 via-blue-950 via-5%"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
				</svg>
				<div
					class="bg-gradient-to-b from-[#6fd1f5] h-[390px] to-blue-600 w-[320px] mr-3 mb-3 shadow-[3px_3px_8px_#00000066]"
				>
					<img
						class="h-[250px]"
						src="https://phantom-marca.unidadeditorial.es/a1971afbd9030f3979dbb1dc2989a139/resize/1200/f/jpg/assets/multimedia/imagenes/2023/08/14/16920229037351.jpg"
						alt=""
					/>
					<h1
						class="text-white text-[15px] ml-[20px] mt-2 uppercase font-sans"
					>
						Oferta de entre semana
					</h1>
					<h2 class="text-blue-300 mt-2 font-sans text-[14px] ml-5">
						la oferta termina el 30 de septiembre
					</h2>
					<div class="h-[40px] w-[200px] ml-5 mt-2 flex">
						<h1
							class="text-[30px] flex font-semibold text-[#3aff09] bg-[#5ba32b]"
						>
							-80%
						</h1>
						<div class="bg-slate-500">
							<h1
								class="text-gray-700 text-[10px] ml-8 uppercase line-through"
							>
								col$ 229.000
							</h1>
							<h1 class="uppercase text-[#3aff09] ml-2">
								col$ 45.000
							</h1>
						</div>
					</div>
				</div>
				<div
					class="bg-gradient-to-b from-[#6fd1f5] h-[390px] to-blue-600 w-[320px] mr-3 mb-3 shadow-[3px_3px_8px_#00000066]"
				>
					<img
						class="h-[250px]"
						src="https://images5.alphacoders.com/981/981500.jpg"
						alt=""
					/>
					<h1
						class="text-white text-[15px] ml-[20px] mt-2 uppercase font-sans"
					>
						Oferta de entre semana
					</h1>
					<h2 class="text-blue-300 mt-2 font-sans text-[14px] ml-5">
						la oferta termina el 30 de septiembre
					</h2>
					<div class="h-[40px] w-[200px] ml-5 mt-2 flex">
						<h1
							class="text-[30px] flex font-semibold text-[#3aff09] bg-[#5ba32b]"
						>
							-80%
						</h1>
						<div class="bg-slate-500">
							<h1
								class="text-gray-700 text-[10px] ml-8 uppercase line-through"
							>
								col$ 229.000
							</h1>
							<h1 class="uppercase text-[#3aff09] ml-2">
								col$ 45.000
							</h1>
						</div>
					</div>
				</div>
				<div>
					<div
						class="bg-gradient-to-b from-[#6fd1f5] to-blue-300 w-[320px] h-[188px] mb-3 shadow-[3px_3px_8px_#00000066]"
					>
						<img
							class="h-[130px] w-[320px]"
							src="https://www.nintendo.com/eu/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_DarkSoulsRemastered.jpg"
							alt=""
						/>
						<div class="flex h-[40px] w-[320px] mt-2">
							<h1 class="pl-2 h-5 text-[14px]">
								!Oferta del dia¡
							</h1>
							<div class="ml-3 flex bg-slate-500">
								<h1
									class="text-[25px] flex font-semibold text-[#3aff09] bg-[#5ba32b] pr-2 pl-1"
								>
									-80%
								</h1>
								<h1
									class="text-[20px] uppercase text-[#3aff09] ml-2 mt-1 pr-2"
								>
									col$ 45.000
								</h1>
							</div>
						</div>
					</div>
					<div
						class="bg-gradient-to-b from-[#99fcff] to-blue-300 w-[320px] h-[188px] mb-3 shadow-[3px_3px_8px_#00000066]"
					>
						<img
							class="h-[130px] w-[320px]"
							src="https://www.elespectador.com/resizer/v2/LOMC6L6CKRAGFGPIQUKVLQKEPI.jpg?auth=a1c7aff99f05291f99011bf7772700e88b7f2a083402e8fcbd3a91fa04fbec70&width=920&height=613&smart=true&quality=60"
							alt=""
						/>
						<div class="flex h-[40px] w-[320px] mt-2">
							<h1 class="pl-2 h-5 text-[14px]">
								!Oferta del dia¡
							</h1>
							<div class="ml-3 flex bg-slate-500">
								<h1
									class="text-[25px] flex font-semibold text-[#3aff09] bg-[#5ba32b] pr-2 pl-1"
								>
									-80%
								</h1>
								<h1
									class="text-[20px] uppercase text-[#3aff09] ml-2 mt-1 pr-2"
								>
									col$ 45.000
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- explorar por categorias -->
		<div class="max-w-[1200px] mx-auto font-sans mt-2">
			<div class="mt-10 ml-[20%]">
				<h1 class="text-white mb-3 font-medium text-[15px] uppercase">
					Explorar por categorias
				</h1>

				<div class="flex justify-center items-center gap-5 relative">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="hover:cursor-pointer w-[60px] size-20 text-white absolute -left-12 bg-gradient-to-r from-blue-950 via-blue-950 via-5%"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M15.75 19.5 8.25 12l7.5-7.5"></path>
					</svg>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="hover:cursor-pointer w-[60px] size-20 my-auto text-white absolute -right-12 bg-gradient-to-l from-blue-950 via-blue-950 via-5%"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
					</svg>
					<div
						class="inline-flex items-end w-[225px] hover:cursor-pointer h-[200px] hover:scale-110 duration-300 bg-cover bg-[url('https://i.3djuegos.com/juegos/17520/fotos/ficha/-5245513.webp')]"
					>
						<h1
							class="uppercase bg-red-700 mx-auto mb-10 text-center text-white font-bold h-0"
						>
							casuales
						</h1>
					</div>
					<div
						class="inline-flex items-end w-[225px] h-[200px] hover:cursor-pointer hover:scale-110 duration-300 bg-cover bg-[url('https://shared.akamai.steamstatic.com//store_item_assets/steam/apps/1846380/hero_capsule.jpg?t=1725523430')]"
					>
						<h1
							class="uppercase mb-10 mx-auto text-white font-bold h-0"
						>
							CARRERAS
						</h1>
					</div>
					<div
						class="inline-flex items-end w-[225px] h-[200px] hover:cursor-pointer hover:scale-110 duration-300 bg-cover bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQM8fOzeqkbIWza-KJ3ieXmENymf98AeHBgQ&s')]"
					>
						<h1
							class="uppercase bg-blue-100 mx-auto mb-10 text-white font-bold h-0"
						>
							aventuras
						</h1>
					</div>
					<div
						class="inline-flex items-end w-[225px] h-[200px] hover:cursor-pointer hover:scale-110 duration-300 bg-cover bg-[url('https://media.revistagq.com/photos/628f7826a66472e9837148e9/16:9/w_2560%2Cc_limit/The%2520Quarry%2520-%2520Key%2520Art%25204K.jpg')]"
					>
						<h1
							class="uppercase bg-blue-100 mb-10 mx-auto text-white font-bold h-0"
						>
							terror
						</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- iniciar sesion -->
		<div class="max-w-[1200px] mx-auto">
			<div
				class="h-[150px] w-[80%] bg-[#000F18] mt-8 ml-[20%] flex flex-col items-center"
			>
				<h1 class="text-gray-400 font-semibold pt-5 font-sans pb-5">
					Inicia sesión para ver recomendaciones personalizadas
				</h1>
				<button
					class="w-[150px] bg-[#5ba32b] text-green-300 h-8 rounded items-center mx-auto hover:bg-[#59BF40] hover:text-white font-semibold"
					>Iniciar Sesion</button
				>
				<h1 class="text-gray-400 font-semibold pt-5 font-sans">
					O regístrate y únete a Steam de forma gratuita
				</h1>
			</div>
		</div>
		<!-- explorar Steam -->
		<div class="max-w-[1200px] mx-auto mt-6">
			<h1 class="ml-[20%] text-white font-medium uppercase mb-2">
				Explorar Steam
			</h1>
			<div class="w-[80%] ml-[20%] flex gap-2">
				<div
					class="h-[70px] w-[300px] rounded bg-gradient-to-r from-blue-400 to-blue-600 hover:bg-gradient-to-b hover:cursor-pointer flex justify-center items-center"
				>
					<h1
						class="text-white font-sans font-semibold text-[20px] uppercase"
					>
						novedades
					</h1>
				</div>
				<div
					class="h-[70px] w-[300px] rounded bg-gradient-to-r from-blue-400 to-blue-600 hover:bg-gradient-to-b hover:cursor-pointer flex justify-center items-center"
				>
					<h1
						class="text-center text-white font-sans font-semibold text-[20px] uppercase"
					>
						ofertas
					</h1>
				</div>
				<div
					class="h-[70px] w-[300px] rounded bg-gradient-to-r from-blue-400 to-blue-600 hover:bg-gradient-to-b hover:cursor-pointer flex justify-center items-center"
				>
					<h1
						class="text-center text-white font-sans font-semibold text-[20px] uppercase"
					>
						juegos gratis
					</h1>
				</div>
				<div
					class="h-[70px] w-[300px] rounded bg-gradient-to-r from-blue-400 to-blue-600 hover:bg-gradient-to-b hover:cursor-pointer flex justify-center items-center"
				>
					<h1
						class="text-center text-white font-sans font-semibold text-[20px] uppercase"
					>
						por etiquetas de usuarios
					</h1>
				</div>
			</div>
		</div>

		<div
			class="mt-7 group items-center hover:cursor-pointer duration-300 transition-colors hover:bg-blue-700 rounded inline-flex bg-blue-500 text-white py-2 px-4"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="size-4 mr-1 mt-[3] group-hover:animate-spin"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
				></path>
			</svg>

			Presioname
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="size-4 mt-[3px] ml-1"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
			</svg>
		</div>
	</body>
</html>
